<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="page2.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Document</title>
</head>
        <body>
          <style>
            body {
                background-color: #d9e2ee; /* استخدم اللون الذي تريده هنا */
            }
        </style>
          <div class="Rith">
            <div class="menu">
              <h5> <a href="home.html" class="home">Home </a> </h5>
              
              
              <h5> <a href="" class="about">About </a> </h5>
            </div>
        
            <div class="group-1">
              
              <div class="card-1">
                
                <h2 class="asan-name-1">  <br>  Squat exercise</h2>
                
                <video width="240" height="259" controls>
                  <source src="Squat.mp4" type="video/mp4">
                  <source src="squat.ogg" type="video/ogg">
                  
                </video>
            
                <p class="asan-para-1">
                  strength exercise in which the trainee lowers their hips from a standing position and then stands back up. 
                  During the descent, the hip and knee joints flex while the ankle joint dorsiflexes;
                </p>
                 <br>
                 <form action="/tracks">
                  <button class="go"><p class="let"> Start</p></button>
                </form>

              </div>

              
              <div class="card-2">
                
                <h2 class="asan-name-1"><br>           Arm raise exercise</h2>
               
                <video width="240" height="259" controls>
                  <source src="movie.mp4" type="video/mp4">
                  <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
                </video>

                <p class="asan-para-1">
                  simple exercise that targets the shoulder muscles and the muscles surrounding them.
                   It can be done without any equipment and is a great way to strengthen your shoulders. 
                </p>
                <br>
                <form action="/tracks">
                  <button class="go"><p class="let"> Start</p></button>
                </form>
              
              </div>
              <div class="card-3">
                
                <h2 class="asan-name-1"> <br>  standing quad stretch exercise</h2>
                

                <video width="240" height="259" controls>
                  <source src="Quad-Stretch.mp4" type="video/mp4">
                  <source src="Quad-Stretch.ogg" type="video/ogg">
                Your browser does not support the video tag.
                </video>


                <p class="asan-para-1">
                  The quadriceps exercise targets the quadriceps muscles located in the front of the thigh
                     It involves standing up straight and raising one heel toward the buttocks
                </p>

                <br>
                <form action="/tracks">
                  <button class="go"><p class="let"> Start</p></button>
                </form>
               
              
              </div>
            </div>      
          </div>
          
</body>
</html>